[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=soundKonverter metaflac plugin
X-KDE-Library=soundkonverter_replaygain_metaflac
ServiceTypes=soundKonverter/ReplayGainPlugin
X-KDE-PluginInfo-Author=Daniel Faust
X-KDE-PluginInfo-Email=hessijames@gmail.com
X-KDE-PluginInfo-Name=soundkonverter_replaygain_metaflac
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
