[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=soundKonverter Flac Plugin
X-KDE-Library=soundkonverter_codec_flac
ServiceTypes=soundKonverter/CodecPlugin
X-KDE-PluginInfo-Author=Daniel Faust
X-KDE-PluginInfo-Email=hessijames@gmail.com
X-KDE-PluginInfo-Name=soundkonverter_codec_flac
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
