[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=soundKonverter FAAC Plugin
X-KDE-Library=soundkonverter_codec_faac
ServiceTypes=soundKonverter/CodecPlugin
X-KDE-PluginInfo-Author=Daniel Faust
X-KDE-PluginInfo-Email=hessijames@gmail.com
X-KDE-PluginInfo-Name=soundkonverter_codec_faac
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
