[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=soundKonverter mp3gain plugin
X-KDE-Library=soundkonverter_replaygain_mp3gain
ServiceTypes=soundKonverter/ReplayGainPlugin
X-KDE-PluginInfo-Author=Daniel Faust
X-KDE-PluginInfo-Email=hessijames@gmail.com
X-KDE-PluginInfo-Name=soundkonverter_replaygain_mp3gain
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
