[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=soundKonverter vorbisgain plugin
X-KDE-Library=soundkonverter_replaygain_vorbisgain
ServiceTypes=soundKonverter/ReplayGainPlugin
X-KDE-PluginInfo-Author=Daniel Faust
X-KDE-PluginInfo-Email=hessijames@gmail.com
X-KDE-PluginInfo-Name=soundkonverter_replaygain_vorbisgain
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
