[Desktop Entry]
Encoding=UTF-8
Name=soundKonverter
Exec=soundkonverter %i -caption "%c"
Icon=soundkonverter
Type=Application
_GenericName=Audio file converter, CD ripper and Replay Gain tool
Terminal=false
Categories=AudioVideo;Audio;AudioVideoEditing;KDE;
X-DocPath=http://kde-apps.org/content/show.php?content=29024
