[Desktop Entry]
Encoding=UTF-8
Name=soundKonverter
Exec=soundkonverter %i -caption "%c"
Icon=soundkonverter
Type=Application
DocPath=soundkonverter/soundkonverter.html
GenericName=An audio file converter
GenericName[cs]=Převodník zvukových souborů
GenericName[de]=Ein Audio-Datei-Konverter
GenericName[es_AR]=Un conversor de archivos de audio
GenericName[et]=Helifailide teisendaja
GenericName[fr]=Un convertisseur de fichier audio
GenericName[hu]=Egy audiofájl-konverter
GenericName[pt]=Um conversor para ficheiros áudio
Terminal=false
Categories=AudioVideo;AudioVideoEditing;CD;
