[Desktop Entry]
Encoding=UTF-8
Name=soundKonverter
Exec=soundkonverter %U
Icon=soundkonverter
Type=Application
GenericName=Audio file converter, CD ripper and Replay Gain tool
GenericName[ca]=Convertidor d'arxius d'àudio, extractor de CD i eina Replay Gain
GenericName[cs]=Převaděč zvukových souborů, vytahovač stop z CD a nástroj na vyrovnání hlasitosti přehrávaných skladeb
GenericName[de]=Audio-Datei Konverter, CD Ripper und Replay Gain Werkzeug
GenericName[es]=Conversor de archivos de audio, extractor de CD y herramienta Replay Gain
GenericName[et]=Helifailide teisendaja, CD-rippija ja helitugevuse parandustööriist
GenericName[fr]=Convertisseur de fichiers audio, extracteur de CD et outil de Replay Gain
GenericName[hu]=Audiofájl-konverter, CD-beolvasó és hangerő-korrekciós eszköz
GenericName[it]=Convertitore di file audio, estrattore di CD e strumento Replay Gain
GenericName[pt]=Conversor de áudio, extração de CD e análise Replay Gain
GenericName[pt_BR]=Conversor de arquivo de áudio, extração de CD e ferramenta Replay Gain
GenericName[ro]=Convertor de fișiere audio, uneltă de extras CD-uri si aplicat Replay Gain
GenericName[ru]=Аудиоконвертер, CD-риппер и инструмент выравнивания громкости
GenericName[sl]=Pretvornik zvočni datotek, zajemalnik CD-jev in orodje za jakost predvajanja
GenericName[sv_SE]=Ljudfilkonverterare, CD-rippare och Replay Gain-verktyg
GenericName[zh_TW]=音樂格式轉換、CD 擷取、播放增益工具
Terminal=false
Categories=AudioVideo;Audio;AudioVideoEditing;KDE;
X-DocPath=https://github.com/HessiJames/soundkonverter/wiki
