[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=soundKonverter cdparanoia plugin
X-KDE-Library=soundkonverter_ripper_cdparanoia
ServiceTypes=soundKonverter/RipperPlugin
X-KDE-PluginInfo-Author=Daniel Faust
X-KDE-PluginInfo-Email=hessijames@gmail.com
X-KDE-PluginInfo-Name=soundkonverter_ripper_cdparanoia
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
